{{- $seriesList := .Page.Params.series -}}
{{- if $seriesList -}}
  {{- $series := index $seriesList 0 -}}
  {{- $term := urlize $series -}}
  {{- $pages := where site.RegularPages "Params.series" "intersect" (slice $series) -}}
  {{- $sorted := sort $pages "Params.series_index" "asc" -}}
  {{- $current := .Page.RelPermalink -}}
  <div class="series-nav">
    <strong>Series:</strong>
    {{- with site.GetPage (printf "/series/%s" $term) -}}
      <a href="{{ .RelPermalink }}">{{ $series }}</a>
    {{- else -}}
      <span>{{ $series }}</span>
    {{- end -}}
    {{- if $sorted -}}
      <div class="series-list">
        {{- range $i, $p := $sorted -}}
          {{- $index := $p.Params.series_index | default (add $i 1) -}}
          {{- if eq $p.RelPermalink $current -}}
            <span><strong>{{ $index }}/{{ len $sorted }}. {{ $p.Title }}</strong></span>
          {{- else -}}
            <a href="{{ $p.RelPermalink }}">{{ $index }}/{{ len $sorted }}. {{ $p.Title }}</a>
          {{- end -}}
        {{- end -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}
